.detail {
  display: flex;
  flex-direction: column;
  width: 100vw;
  display: flex;
  padding: 23px;
  font-size: large;
  margin: 10px;
  border: 1px solid #6e6e6e;
}

.container {
  display: flex;
  justify-content: end;
}

.btn {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.btn:hover {
  color: #0078ff;
}

p {
  padding: 0px 5px;
  font-size: 1rem;
}

.title {
  font-size: 1rem;
}

.containerPago {
  display: flex;
  color: black;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  margin: 5px 0px;
  border-radius: 8px;
  background-color: #f9f9f9;
  border-left: 8px solid #0078ff;
  box-shadow: -4px 3px 5px 0px rgba(0, 0, 0, 0.75);
}

.listUl {
  font-size: 0.9rem;
  padding: 15px;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.precio {
  display: flex;
  justify-content: end;
  font-size: 1.4rem;
}

.email {
  margin-left: 15px;
  border-radius: 3px;
  background-color: #ebeaea;
  border: 1px solid #7774742f;
}

.count {
  display: flex;
  align-items: center;
  margin-right: 5px;
  border: 1px solid #7774742f;
}

.count > p {
  cursor: pointer;
}

span {
  padding: 0px 5px;
  border-left: 1px solid #7774742f;
  border-right: 1px solid #7774742f;
}

.orderContainer {
  position: fixed;
  top: 22vh;
  min-width: 30vw;
  background-color: #0e325cec;
  color: #f9f9f9;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: start;
  display: flex;
  padding: 23px;
  font-size: large;
  margin: 10px;
  border: 1px solid #6e6e6e;
  gap: 15px;
}




